In [4]:
import numpy as np
import pandas as pd
import time
from geopy.geocoders import Nominatim, googlev3

In [5]:
path= 'C:\\Users\\krasi\\pyproj\\datasets\\Technical test 2023\\data\\'
hubway_trips= pd.read_csv(path + 'hubway_trips.csv')

zip_codes= pd.DataFrame(hubway_trips.zip_code.unique(), columns=["zip_code"])
zip_codes.dropna(inplace=True)
zip_codes.reset_index(drop=True, inplace=True)

In [6]:
zip_codes

    zip_code
0     '97217
1     '02215
2     '02108
3     '02116
4     '97214
..       ...
525   '06412
526   '44040
527   '03054
528   '20116
529   '43017

[530 rows x 1 columns]

In [16]:
info=[]
lat= []
long=[]

geocoder = Nominatim(user_agent='my_kras_app')

for code in zip_codes.zip_code:
    location = geocoder.geocode("United States " + code)
    info.append(location.address)
    lat.append(location.latitude)
    long.append(location.longitude)
    time.sleep(1)

In [17]:
len(info)

530

In [18]:
zip_codes['address']= info
zip_codes['home_lat']= lat
zip_codes['home_long']= long

In [19]:
zip_codes.sample(5)

,zip_code,address,home_lat,home_long
179,'01463,"Pepperell, Middlesex County, Massachusetts, 01...",42.666855,-71.601242
263,'02170,"Quincy, Norfolk County, Massachusetts, 02170, ...",42.266678,-71.012577
326,'01952,"Salisbury, Essex County, Massachusetts, 01952,...",42.838899,-70.867001
39,'01944,"Manchester-by-the-Sea, Essex County, Massachus...",42.575554,-70.778467
127,'01583,"West Boylston, Worcester County, Massachusetts...",42.362268,-71.785875

In [21]:
zip_codes.to_csv('Boston_zip_codes_info.csv')

In [8]:
geocoder = Nominatim(user_agent='my_kras_app')

In [17]:
geocoder.geocode("80203 USA")

Location(80203, (39.73080729396315, -104.98331801901216, 0.0))

In [21]:
geocoder.geocode("06066 United States")

Location(06066, (41.84305443101014, -72.46601910870235, 0.0))

In [20]:
geocoder.geocode("06066")

Location(Piegaro, Perugia, Umbria, 06066, Italia, (42.98091421, 12.15472079, 0.0))